<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include('../partials/nav.ejs') %> 
    
    <h2 class="blogs-header">All Blogs</h2>
 
    <% if(blogs.length > 0) { %>
      <% blogs.forEach(blog => { %>
        <div class="blog-display">
        <h3><%= blog.title %></h3>
        <p><%= blog.snippet %></p>
        <a href="/blogs/<%= blog._id %>">Read article...</a>
      </div>
      <% }) %>
    <% } %>

    
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
